<div>
    <?= $this->relationRender('techniques_pivot_model') ?>
</div>

<hr>

<div>
    <a href="/backend/quivi/profile/techniques/create" class="btn btn-xs btn-secondary oc-icon-plus">Crea una nuova lavorazione</a>
    <p class="help-block"><em>Usa questa opzione nel caso in cui la lavorazione che cerchi non sia presente in
        elenco</em></p>

</div>

<hr>

