<?php Block::put('breadcrumb') ?>
<ul>
    <li><?= e(trans('quivi.product::lang.feature.feature')) ?></li>
    <li><?= e(trans('quivi.product::lang.feature.list')) ?></li>
</ul>
<?php Block::endPut() ?>
<?= $this->listRender() ?>
