<div id="product-options" class="relation-items-table article">
    <?= $this->relationRender('options') ?>
</div>
<hr>

<div>
    <a href="/backend/quivi/product/features/create" class="btn btn-xs btn-default oc-icon-plus">Crea una nuova caratteristica prodotto</a>
    <a href="/backend/quivi/product/features/" class="btn btn-xs  btn-secondary oc-icon-plus">Aggiungi una nuova opzione ad una caratteristica prodotto</a>
    <p class="help-block"><em>Usa questa opzione nel caso in cui la caratteristica/opzione necessaria che cerchi non sia presente in
        elenco</em></p>

</div>

<hr>

