<div id="product-versions" class="relation-items-table article">
    <header>
        <h4><?= e(trans('quivi.product::lang.product.version.versions')) ?></h4>
    </header>
    <?= $this->relationRender('versions') ?>

    <div class="revision-help section-help">
        <h4><?= e(trans('quivi.product::lang.product.version.alert')) ?></h4>
    </div>

</div>
